.App {
  --border-radius: 5px;
  --background-color: rgba(0, 0, 0, 0.15);
  background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgb(125, 42, 124) 0%, rgb(15, 42, 72) 90% );;
  color: white;
  min-height: calc(100vh - 6rem);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  padding: 3rem;
}

.ratings-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.squad-rating {
  text-align: center;
  font-size: 500%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.squad-rating .decimal {
  font-size: 50%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 5vh;
}

.controls input, .controls button {
  margin: 0;
  padding: 1rem 2rem;
  border: none;
  height: 3.5rem;
  border: none;
  color: white;
  background-color: var(--background-color);
  font-size: 100%;
  line-height: 1rem;
  border-radius: var(--border-radius);
}

.controls input:hover {
  background-color: red !important;
}


.rating-reset-controls {
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.rating-reset-controls > * {
  border-radius: 0px !important;
  background-color: transparent !important;
}

.notices {
  width: 40vw;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 1rem;
  height: fit-content;
}

.notices > p {
  margin-top: 0;
}

.emoji {
  font-family: Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Android Emoji,EmojiSymbols,EmojiOne Mozilla,Twemoji Mozilla,Segoe UI Symbol,Noto Color Emoji Compat,emoji,noto-emojipedia-fallback;
}

.Rating {
  --box-shadow-color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0,0,0, 0.1);
  box-shadow: 0 0 5px 5px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  border-radius: 50%;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  width: 6.2vw;
  height: 6.2vw;
}


.RatingHigh {
  --box-shadow-color: rgb(0, 255, 127, 0.8);
  /*background-color: rgb(0, 255, 127);*/
}

.RatingLow {
  --box-shadow-color: rgba(255, 120, 105, 0.8);
  /*background-color: rgba(255, 120, 105, 0.668);*/
}


.RatingControls {
  cursor: pointer;
  border-top: 3px solid white;
  border-left: 3px solid white;
  width: 1vw;
  height: 1vw;
}

.RatingIncrease {
  transform: scaleY(.5) rotate(45deg);
}

.RatingDecrease {
  transform: scaleY(.5) rotate(225deg);
}

.RatingValue {
  font-weight: bold;
}
